/_merged
/_site
/node_modules
.DS_Store

# Normally you would commit the package-lock.json but here we
# want every install of an11ty and the template to grab the
# latest version within the same major version.
package-lock.json
